.footer {
  display: flex;
  flex-direction: column;
  background-color: #005b30;
  padding: 2% 10% 1%;
  color: #fff;
}

.footer-row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
}

.social-media-container {
  display: flex;
  align-items: center;
}

.social-media-icon {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.social-media-icon-3 {
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.footer-row-2 {
  margin-bottom: 36px;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.footer-row-2-col {
  width: 20%;
  height: 100%;
}

.copyright-text {
  text-align: center;
}
