.footer {
  display: flex;
  flex-direction: column;
  background-color: #005b30;
  padding: 4rem 10%;
  color: #fff;
}

.footer-row-1 {
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
}

.footer-row-1-col {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer-row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
}

.footer-logo {
  height: 50px;
  width: 80px;
}

.social-media-container {
  display: flex;
  align-items: center;
}

.social-media-icon {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.social-media-icon-3 {
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.copyright-text {
  text-align: center;
}

@media (max-width: 1024px) {
  .footer {
    padding-left: 5%;
    padding-right: 5%;
  }

  .footer-row-1 {
    flex-wrap: wrap;
  }

  .footer-row-1-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .footer-row-1-col {
    width: 100%;
    margin-bottom: 30px;
  }
}
