.about-container {
  position: relative;
}

.about-top-section {
  background-image: url("../../../public/images/keck-field-chapman-university.jpeg");
  height: 85vh;
  width: 100%;
}

.about-top-section-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-info {
  font-size: 3.125rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section-two {
  display: flex;
  padding: 4rem 10%;
  justify-content: space-between;
  width: 80%;
}

.about-section-two-col-1 {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.about-section-two-rendition {
  color: #005b30;
  font-weight: 400;
  font-size: 17px;
  /* text-align: justify; */
}

.about-section-two-rendition-2 {
  font-size: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #01963d;
  margin-top: 30px;
}

.about-section-two-col-2 {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.books-img {
  height: 40vh;
  width: 40wh;
  margin-bottom: 30px;
}

.about-section-three {
  background-color: #005b30;
  padding: 4rem 10%;
  display: flex;
  justify-content: center;
}

.vc-info-container {
  display: flex;
  margin-right: 30px;
  width: 30%;
  justify-content: flex-end;
}

.vc-img {
  height: 50vh;
}

.vc-details-container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  justify-content: center;
  width: 50%;
}

.vc-details-wrapper {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.vc-name {
  font-weight: 700;
  font-size: 24px;
}

.vc-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}

.vc-speech {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.8;
  margin-top: 10px;
  text-align: justify;
}

.about-section-four {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}

.about-section-four-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 60%;
}

.staff-container {
  width: 48%;
  height: 200px;
  position: relative;
  display: flex;
}

.staff-container:nth-child(1) {
  margin-bottom: 30px;
}

.staff-details-container {
  height: 100%;
  width: calc(100% - 20%);
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.staff-details-container-left {
  left: 20%;
}

.staff-details-container-right {
  right: 20%;
}

.staff-details-container-1 {
  background-color: rgba(1, 150, 61, 0.52);
}

.staff-details-container-2 {
  background-color: #005b30;
}

.staff-details-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.staff-details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 100%;
}

.staff-details-content-left {
  left: 40%;
  padding-right: 5%;
}

.staff-details-content-right {
  right: 40%;
  padding-left: 5%;
}

.staff-details-content-color-1 {
  color: #005b30;
}

.staff-details-content-color-2 {
  color: #fff;
}

.staff-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 15px;
}

.staff-title {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 10px;
  opacity: 0.9;
}

.staff-info {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  opacity: 0.8;
}

.staff-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 1;
}

.staff-img-align-left {
  left: 0;
}

.staff-img-align-right {
  right: 0;
}

.about-section-five {
  display: flex;
  flex-direction: column;
  padding: 4rem 20%;
  background-color: #eee;
}

.faq-heading {
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
}

.faq-single {
  border-bottom: 1px solid #ccc;
}

.faq-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question {
  font-size: 18px;
}

.faq-plus-icon {
  font-size: 40px;
  cursor: pointer;
}

.faq-answer {
  display: none;
}

.faq-answer-active {
  display: flex;
  margin-bottom: 10px;
}

@media (max-width: 1280px) {
  .vc-info-container {
    align-items: center;
  }

  .vc-details-container {
    width: 60%;
  }

  .about-us-info {
    width: 50%;
    height: 15rem;
  }

  .about-section-four-content {
    flex-direction: column;
  }

  .staff-container {
    width: 100%;
  }

  .staff-container:not(:nth-child(4)) {
    margin-bottom: 30px;
  }

  .staff-details-container-left {
    left: 15%;
  }

  .staff-details-container-right {
    right: 15%;
  }
}

@media (max-width: 1024px) {
  .about-us-info {
    width: 60%;
  }

  .about-section-three {
    flex-direction: column;
  }

  .vc-info-container {
    margin-right: 0;
    justify-content: center;
    width: 80%;
  }

  .vc-details-wrapper {
    align-items: center;
  }

  .vc-details-container {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .about-us-info {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .about-us-info {
    width: 80%;
    font-size: 2.5rem;
  }

  .about-section-two {
    flex-direction: column;
  }

  .about-section-two-col-1 {
    width: 100%;
    margin-bottom: 30px;
  }

  .about-section-two-col-2 {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .vc-info-container {
    width: 100%;
  }

  .vc-details-container {
    width: 100%;
  }

  .books-img {
    height: 48%;
    width: 48%;
    margin-bottom: 0;
  }

  .about-section-four-content {
    width: 80%;
  }

  .staff-img {
    width: 120px;
    height: 120px;
    top: 25%;
  }
}
