.about-container {
  position: relative;
}

.about-top-section {
  background-image: url("../../../public/images/keck-field-chapman-university.jpeg");
  height: 85vh;
  width: 100%;
}

.about-top-section-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

.about-us-info {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  max-width: 40%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 10rem;
}

.about-section-two {
  display: flex;
  flex-direction: column;
  padding: 2rem 10%;
}

.about-section-two-row-1 {
  display: flex;
  justify-content: space-between;
}

.about-section-two-rendition {
  width: 50%;
  color: #005b30;
  font-weight: 400;
  font-size: 17px;
  text-align: justify;
}

.about-section-two-rendition-2 {
  font-size: 20px;
  font-weight: 600;
  font-weight: 700;
  font-size: 24px;
  color: #01963d;
  width: 50%;
  margin-top: 30px;
}

.about-section-three {
  background-color: #005b30;
  padding: 4rem 20%;
  display: flex;
  align-items: center;
}

.vc-img {
  height: 50vh;
  margin-right: 5rem;
}

.vc-details-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #ffffff;
}

.vc-name {
  font-weight: 700;
  font-size: 24px;
}

.vc-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}

.vc-speech {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.8;
  margin-top: 10px;
  text-align: justify;
}

.about-section-four {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}

.about-section-four-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 60%;
}

.staff-container {
  width: 48%;
  height: 200px;
  position: relative;
  display: flex;
}

.staff-container:nth-child(1) {
  margin-bottom: 30px;
}

.staff-details-container {
  height: 100%;
  width: calc(100% - 20%);
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.staff-details-container-left {
  left: 20%;
}

.staff-details-container-right {
  right: 20%;
}

.staff-details-container-1 {
  background-color: rgba(1, 150, 61, 0.52);
}

.staff-details-container-2 {
  background-color: #005b30;
}

.staff-details-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.staff-details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 100%;
}

.staff-details-content-left {
  left: 40%;
  padding-right: 5%;
}

.staff-details-content-right {
  right: 40%;
  padding-left: 5%;
}

.staff-details-content-color-1 {
  color: #005b30;
}

.staff-details-content-color-2 {
  color: #fff;
}

.staff-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 15px;
}

.staff-title {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 10px;
  opacity: 0.9;
}

.staff-info {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  opacity: 0.8;
}

.staff-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 1;
}

.staff-img-align-left {
  left: 0;
}

.staff-img-align-right {
  right: 0;
}

.about-section-five {
  display: flex;
  flex-direction: column;
  padding: 4rem 20%;
  background-color: #eee;
}

.faq-heading {
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
}

.faq-single {
  border-bottom: 1px solid #ccc;
}

.faq-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question {
  font-size: 18px;
}

.faq-plus-icon {
  font-size: 40px;
  cursor: pointer;
}

.faq-answer {
  display: none;
}

.faq-answer-active {
  display: flex;
  margin-bottom: 10px;
}

@media (max-width: 1280px) {
  .about-section-four-content {
    flex-direction: column;
  }

  .staff-container {
    width: 100%;
  }

  .staff-container:not(:nth-child(4)) {
    margin-bottom: 30px;
  }

  .staff-details-container-left {
    left: 15%;
  }

  .staff-details-container-right {
    right: 15%;
  }
}

@media (max-width: 1024px) {
  .about-section-three {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .about-section-four-content {
    width: 80%;
  }
}
