.programs-container {
  position: relative;
}

.programs-top-section {
  background-image: url("../../assets/campaign-creators-gMsnXqILjp4-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 85vh;
  width: 100%;
}

.programs-top-section-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.programs-best-for-you-text {
  font-size: 3.125rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.programs-section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.programs-courses-heading {
  font-weight: 700;
  font-size: 2.25rem;
  text-align: center;
  text-transform: capitalize;
  color: #005b30;
  margin-bottom: 30px;
}

.programs-search-input {
  width: 18rem;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #a4a4a4;
  padding: 5px 7px;
  font-size: 16px;
  margin-bottom: 20px;
}

.programs-search-input:focus {
  border: 1px solid #a4a4a4;
}

.programs-courses-subheading {
  font-weight: 400;
  font-size: 15px;
  color: #005b30;
  width: 40%;
  text-align: center;
  margin-bottom: 25px;
}

.courses-catalogue-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.courses-catalogue-wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2%;
  row-gap: 2rem;
  cursor: pointer;
}

.course-single {
  height: 45vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}

.course-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.course-title-wrapper {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.course-name {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.programs-btn-container {
  display: flex;
  align-items: center;
}

.btn-navigate {
  width: 120px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: #005b30;
  color: #fff;
  font-weight: 600;
  border: 1px solid #005b30;
}

.btn-navigate:hover {
  color: #005b30;
  background-color: #fff;
}

.btn-prev {
  margin-right: 30px;
}

.btn-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media (max-width: 1280px) {
  .programs-best-for-you-text {
    width: 50%;
    height: 15rem;
  }
}

@media (max-width: 1024px) {
  .programs-best-for-you-text {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .programs-best-for-you-text {
    width: 70%;
  }

  .courses-catalogue-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .programs-best-for-you-text {
    width: 80%;
    font-size: 2.5rem;
  }
}

@media (max-width: 640px) {
  .courses-catalogue-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .programs-courses-subheading {
    width: 80%;
  }

  .programs-courses-heading {
    font-size: 1.5rem;
  }
}
