.header {
  display: flex;
  position: fixed;
  align-items: center;
  padding: 15px 10%;
  width: 80%;
  justify-content: space-between;
  background-color: #005b30;
  z-index: 2;
}

.hamburger-menu {
  display: none;
}

.logo {
  height: 3.9rem;
  width: 6rem;
  object-fit: contain;
}

.nav-links-container {
  display: flex;
}

.nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-link:not(:nth-child(4)) {
  margin-right: 60px;
}

.active-nav-link {
  font-weight: bold;
}

.nav-action-container {
  display: flex;
  align-items: center;
}

.search-icon {
  height: 25px;
  width: 25px;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
}

.login-btn {
  display: flex;
  background-color: #01963d;
  border-radius: 5px;
  color: #fff;
  padding: 8px 25px;
  font-weight: bold;
}

.login-btn:hover {
  opacity: 0.7;
}

.hidden-icon {
  display: none;
}

@media (max-width: 1024px) {
  .header {
    padding: 10px 5%;
    width: 90%;
    overflow: hidden;
  }

  .hamburger-menu {
    display: block;
    height: 35px;
    width: 30px;
    cursor: pointer;
    color: #fff;
  }

  .nav-links-container-hidden {
    display: none;
  }

  .nav-links-container-sm {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #005b30;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 1;
    overflow: hidden;
  }

  .nav-action-container {
    justify-content: flex-end;
  }

  .nav-link {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .active-nav-link {
    border-bottom: 1px solid #fff;
  }

  .nav-link:not(:nth-child(4)) {
    margin-right: 0;
  }

  .logo {
    position: fixed;
    left: 40%;
    z-index: 2;
  }

  .login-btn {
    display: none;
  }

  .search-icon {
    height: 30px;
    width: 30px;
    margin-right: 0;
  }

  .hidden-icon {
    display: block;
    height: 35px;
    width: 30px;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 10px;
  }

  .close-icon {
    right: 4%;
  }

  .login-icon {
    left: 4%;
  }
}
