.home-container {
  position: relative;
  overflow-x: hidden;
}

.home-top-section {
  background-image: url("../../assets/program-bg.svg");
  background-size: cover;
  background-position: center;
  height: 85vh;
  width: 100%;
}

.home-top-section-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.university-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.university-title-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 600;
  color: #fff;
  line-height: 4.2rem;
}

.btn-explore {
  background: #e2e2e233;
  width: 200px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.btn-explore:hover {
  opacity: 0.8;
}

.stat-container {
  width: 50%;
  background-color: #01963d;
  /* height: 100px; */
  border-radius: 8px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 1rem 0;
}

.stat-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.stat-item:not(:nth-child(4)) {
  border-right: 1px solid #fff;
}

.stat-number {
  font-size: 18px;
  font-weight: 600;
}

.stat-info {
  width: 80px;
  font-size: 13px;
  text-align: center;
  line-height: 16px;
}

.section-two {
  padding: 5rem 10%;
}

.section-two-wrapper {
  display: none;
  justify-content: space-between;
}

.section-two-wrapper-animation {
  animation: slideInFromRight 1s;
  display: flex;
}

@keyframes slideInFromRight {
  0% {
    margin-left: 50%;
  }
  100% {
    margin-left: 0;
  }
}

.section-two-img-container {
  width: 45%;
}

.section-two-img {
  height: 45vh;
  width: 100%;
  object-fit: cover;
}

.section-two-right-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0 20px;
}

.welcome-heading {
  color: #005b30;
  font-size: 21px;
  margin-bottom: 10px;
}

.welcome-description {
  color: #005b30;
  margin-bottom: 39px;
  text-align: justify;
}

.welcome-btn {
  background-color: #005b30;
  color: #fff;
  padding: 10px 50px;
  width: max-content;
  border-radius: 5px;
}

.welcome-btn:hover {
  opacity: 0.9;
}

.section-three {
  background-color: #f0efef;
  padding: 5rem 0 5rem 10%;
}

.section-three-wrapper {
  display: none;
  height: 50vh;
}

.section-three-wrapper-animation {
  animation: slideInFromBottom 1s;
  display: flex;
}

@keyframes slideInFromBottom {
  0% {
    margin-top: 50%;
  }
  100% {
    margin-top: 0;
  }
}

.section-three-col-1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.know-our-courses-heading {
  font-size: 25px;
  line-height: 2.5rem;
  text-transform: capitalize;
  color: #005b30;
  margin: 0 0 27px;
}

.know-our-courses-info {
  color: #005b30;
  margin: 0;
  font-size: 15px;
  margin-bottom: 30px;
}

.check-out-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: max-content;
}

.check-out-heading {
  font-size: 24px;
  letter-spacing: 0.01rem;
  text-decoration-line: underline;
  color: #01963d;
  font-weight: 900;
  margin-right: 7px;
}

.check-out-icon {
  color: #01963d;
  height: 30px;
  width: 50px;
}

.section-three-col-2 {
  display: flex;
  width: 80%;
  overflow: hidden;
}

.view-faculties-container {
  min-width: 300px;
  margin-right: 40px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
}

.view-faculties-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.view-faculties-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 5px;
}

.faculty-title {
  font-size: 18px;
  margin-bottom: 1.3rem;
  font-weight: 600;
  color: #fff;
}

.section-four {
  padding: 5rem 10%;
}

.section-four-wrapper {
  display: none;
  justify-content: space-between;
}

.section-four-wrapper-animation {
  animation: slideInFromLeft 1s;
  display: flex;
}

@keyframes slideInFromLeft {
  0% {
    margin-right: 50%;
  }
  100% {
    margin-right: 0;
  }
}

.what-students-say-col-1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 5% 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  align-items: center;
}

.what-students-say-heading {
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 30px;
}

.what-students-say-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  /* animation-name: slideIn;
  animation-duration: 1s; */
  width: 100%;
  align-items: center;
}

/* @keyframes slideIn {
  from {
    width: 0;
    display: none;
  }
  to {
    width: 100%;
    display: flex;
  }
} */

.what-students-say-content-row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.what-students-say-photo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.what-students-say-profile {
  display: flex;
  flex-direction: column;
}

.what-students-say-name {
  font-weight: 600;
  color: #005b30;
  text-transform: uppercase;
}

.what-students-say-graduated {
  font-weight: 400;
  font-size: 12px;
  color: #005b30;
  opacity: 0.5;
  text-transform: uppercase;
  width: 70%;
}

.what-students-say-description {
  font-weight: 400;
  color: #005b30;
  text-align: center;
}

.what-students-say-nav-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 5rem;
}

.what-students-say-arrows {
  color: #005b30;
  height: 20px;
  width: 20px;
  padding: 5px;
  cursor: pointer;
}

.what-students-say-arrows-is-allowed {
  color: #fff;
  background-color: #005b30;
  border-radius: 50%;
}

.what-students-say-col-2 {
  width: 62%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 15px;
}

.what-students-say-hero-img1 {
  height: 50vh;
  width: 50%;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.what-students-say-detailed-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.where-our-students-work-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  margin-bottom: 15px;
  border-radius: 3px;
}

.what-students-say-detailed-heading {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #01963d;
}

.what-students-say-detailed-info {
  font-size: 15px;
  text-align: justify;
}

.entrepreneurship-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  text-align: justify;
}

@media (max-width: 1200px) {
  .section-four-wrapper {
    flex-direction: column;
  }

  .what-students-say-col-1 {
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
  }

  .what-students-say-content {
    align-items: center;
  }

  .what-students-say-col-2 {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .section-two-wrapper {
    flex-direction: column;
  }

  .section-two-img-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .section-two-right-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .home-top-section-content {
    padding-top: 10%;
  }

  .stat-container {
    flex-wrap: wrap;
    padding: 1rem 0.5rem;
    row-gap: 10px;
  }

  .stat-item {
    width: 49.5%;
  }

  .stat-item:nth-child(2) {
    border-right: none;
  }

  .university-title-text {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .what-students-say-col-2 {
    flex-direction: column;
  }

  .what-students-say-hero-img1 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .what-students-say-detailed-col {
    width: 100%;
  }

  .section-two {
    padding: 2.5rem 10%;
  }

  .section-three {
  }
}
