.home-container {
  position: relative;
}

.home-top-section {
  background-image: url("../../assets/home-bg.svg");
  height: 85vh;
  width: 100%;
}

.home-top-section-content {
  width: 100%;
  padding-top: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.university-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  line-height: 80px;
  margin-bottom: 1.5%;
}

.btn-explore {
  background: #e2e2e233;
  width: 200px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3%;
}

.btn-explore:hover {
  opacity: 0.8;
}

.stat-container {
  width: 50%;
  background-color: #01963d;
  height: 100px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 60%;
}

.stat-item:not(:nth-child(4)) {
  border-right: 1px solid #fff;
}

.stat-number {
  font-size: 18px;
  font-weight: 600;
}

.stat-info {
  width: 80px;
  font-size: 13px;
  text-align: center;
  line-height: 16px;
}

.section-two {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 10%;
}

.section-two-img-container {
  width: 45%;
}

.section-two-img {
  height: 45vh;
  width: 100%;
  object-fit: cover;
}

.section-two-right-container {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.welcome-heading {
  color: #005b30;
  font-size: 21px;
}

.welcome-description {
  color: #005b30;
  margin-bottom: 39px;
}

.welcome-btn {
  background-color: #005b30;
  color: #fff;
  padding: 10px 50px;
  width: max-content;
  border-radius: 5px;
}

.section-three {
  background-color: #f0efef;
  height: 400px;
  padding: 2rem 0 2rem 10%;
  display: flex;
}

.section-three-col-1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.know-our-courses-heading {
  font-size: 25px;
  line-height: 2.5rem;
  text-transform: capitalize;
  color: #005b30;
  margin: 0 0 27px;
}

.know-our-courses-info {
  color: #005b30;
  margin: 0;
  font-size: 15px;
  margin-bottom: 30px;
}

.check-out-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: max-content;
}

.check-out-heading {
  font-size: 24px;
  letter-spacing: 0.01rem;
  text-decoration-line: underline;
  color: #01963d;
  font-weight: 900;
  margin-right: 7px;
}

.check-out-icon {
  color: #01963d;
  height: 30px;
  width: 50px;
}

.section-three-col-2 {
  display: flex;
  width: 70%;
  overflow-x: hidden;
}

.view-faculties-container {
  min-width: 300px;
  margin-right: 40px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  box-shadow: 10px -4px 0px -13px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: 10px -4px 0px -13px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 10px -4px 0px -13px rgba(0, 0, 0, 0.71);
  position: relative;
}

.view-faculties-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.view-faculties-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 5px;
}

.faculty-title {
  font-size: 18px;
  margin-bottom: 1.3rem;
  font-weight: 600;
  color: #fff;
}

.section-four {
  display: flex;
  padding: 0.85rem 10%;
}

.what-students-say-col {
  width: 70%;
}

.what-students-say-heading {
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 41px;
}

.receive-information-container {
  display: flex;
  height: 60vh;
  width: 100%;
  position: relative;
}

.more-information-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.receive-information-content {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 40%;
}

.receive-information-heading {
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 22px;
}

.receive-information-heading2 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 18px;
}

.receive-information-form {
  display: flex;
  align-items: center;
}

.receive-information-input {
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 10px;
  width: 200px;
  font-size: 14px;
  margin-right: 10px;
}

.receive-information-button {
  background-color: #005b30;
  color: #fff;
  height: 35px;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.receive-information-button:hover {
  opacity: 0.8;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #005b30;
  padding: 2% 10% 1%;
  color: #fff;
}

.footer-row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
}

.social-media-container {
  display: flex;
  align-items: center;
}

.social-media-icon {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.social-media-icon-3 {
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.footer-row-2 {
  margin-bottom: 36px;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.footer-row-2-col {
  width: 20%;
  height: 100%;
}

.copyright-text {
  text-align: center;
}
