body {
  font-family: "Saira", cursive;
  overflow-y: hidden;
}

ul li {
  list-style-type: none;
  margin: unset;
}

a,
button {
  all: unset;
  cursor: pointer;
}

h2,
h3,
h4,
h5 {
  margin: unset;
}

input,
input:focus {
  outline: none;
  border: none;
}

.container-scroll-disabled {
  overflow: hidden !important;
}

.container-scroll-enabled {
  overflow-y: auto !important;
  height: 100vh !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
